[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-py = "*"
jishaku = "*"
watchdog = "*"
wand = "*"
rule34 = {editable = true, ref = "v1.7.2", git = "https://github.com/WhatsCS/Rule34-API-Wrapper.git"}

[dev-packages]

[requires]
python_version = "3.11"
